/* poppins-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v24-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v24-latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v24-latin-300.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/poppins-v24-latin-300.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/poppins-v24-latin-300.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v24-latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/poppins-v24-latin-regular.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/poppins-v24-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v24-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v24-latin-600.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/poppins-v24-latin-600.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/poppins-v24-latin-600.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v24-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/poppins-v24-latin-900.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/poppins-v24-latin-900.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/poppins-v24-latin-900.svg#Poppins') format('svg');
    /* Legacy iOS */
}

:root{
    --color-brand-light: rgba(129, 155, 87, 1);
    --color-brand-dark: rgba(129, 155, 87, 0.8);
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-secondary-dark: #A18268;
}

/* Base Styles */
.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}

body{
   background-color: var(--color-primary-light);
   color: var(--color-primary-dark);
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   margin: 0;
}

address{
    font-style: normal;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding: 48px 0 ;
}

.visualy-hidden{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* Button Styles */

.button {
width: 238 px;
height: 59 px;
border-radius: 8px;
border-width: 2px;
padding-top: 16px;
padding-right: 32px;
padding-bottom: 16px;
padding-left: 32px;
gap: 10px;
opacity: 1;
background-color: var(--color-brand-light);
border: 2px solid var(--color-brand-light);
color: var(--color-primary-light);
cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

.link {
    color: var(--color-primary-light);
    text-decoration: none;
}
.link:hover {
    color: var(--color-brand-light); 
}

/* Header Styles */
.header{
    background-color: gray;
}

.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

/* Hero Section Styles */

.hero-section {
    padding: 272px 0;
    background-image: url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    text-transform: uppercase; 
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

.hero-title:hover {
    color: var(--color-brand-dark);
}


/* Advantages Section Styles */
.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-light);
}

.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered{
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-light);
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light); 
}

/* tradition-section */
.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-content {
    max-width: 710px;
}

.traditions-title{
    margin-bottom: 42px;
}

.traditions-section {
    padding: 96px;
}

.tradition-text .brand {
    color: var(--color-brand-light);  
    font-weight: 600;
}

.tradition-text .uppercase {
    color: var(--color-brand-light);
    text-transform: uppercase;
}

.tradition-text.limited {
    max-width: 330px;
}

/* Chef section */

.chef-cards{
    display: flex;
    gap: 40px;

}

.chef-cards li {
flex-basis: calc((100% - 40px) / 2);

}

.chef-card{
    display: flex;
    gap: 30px;
}

.chefs-title{
    position: relative;
    margin: 0 auto 80px;
}
.chef-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;

}

.chef-image{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 200px;
        box-shadow: -16px 16px 0 0 var(--color-primary-light),
         -16px 16px 0 2px var(--color-secondary-dark);
         flex-shrink: 0;
    }       
.chefs-title::before,
.chefs-title::after{
    position: absolute;
    bottom: 24px;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: "";
}

.chefs-title::before{
    left: 0;
}

.chefs-title::after {
    right: 0;
}

/* format section */


.format-title{
    margin-bottom: 80px;
}

.format-title{
    font-size: 24px;
    font-weight: 600;
}

.format-text{
    font-size: 14px;
    font-weight: 300;
}

.format-card{
    height: 444px;
    background-image: linear-gradient(
        180deg, rgba(49, 38, 26, 0) 55.21%,
        rgba(49, 38, 26, 0.71) 72.92%,
        #31261A 100%);;
    border: 1px solid var(--color-brand-dark);  /* remove */
    border-radius: 16px;
    padding: 24px;
}
.format-list{
    display: flex;
    gap: 20px;
}

.format-list li{
    flex-basis: calc((100% - (20px * 2)) / 3);
}

/* carousel-button */

.carusel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primary-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}


.carusel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
    }

/* contact-section */

.contact-title {
    margin-bottom: 16px;
}

/* footer-section */

.footer-socials{
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-legal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-container ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.adress-link:hover {
    color: var(--color-brand-light);
}

.address-icon {
    fill: var(--color-primary-light);   
} 

.address-icon:hover {
    fill: var(--color-brand-dark);
}

.adress-copyright{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary-light);
}
.footer{
    position: relative;
    background-image: url('../images/footer-background.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
} 

.footer::before{
    position: absolute;
    background-image: url(../Images/decor-bread-small.png);
    content: '';
    width: 180px;
    height: 120px;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;

}

.footer::after {
    position: absolute;
    background-image: url(../Images/decor-bread-large.png);
    content: '';
    width: 380px;
    height: 190px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;

}