@use '../abstracts' as *;

.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;

    &::before,
    &::after {
      position: absolute;
      bottom: 24px;
      width: 352px;
      border: 2px solid $color-brand-light;
      content: '';
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

.chefs-list {
  display: flex;
  gap: 30px;

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
