@use '../abstracts' as *;

.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  &__image {
    width: 240px;
    flex-shrink: 0;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 $color-primary-light,
      -16px 16px 0 2px $color-secondary-dark;
  }

  &__text-content {
    min-width: 0;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
  }

  &__description {
    margin-bottom: 24px;
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  padding: 24px;
  overflow: hidden;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--walrus {
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, $color-primary-dark 100%),
      url('../Images/walrus-format.jpg');
  }

  &--horseshoe {
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, $color-primary-dark 100%),
      url('../Images/horseshoe-format.jpg');
  }

  &--handlebar {
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, $color-primary-dark 100%),
      url('../Images/handlebar-format.jpg');
  }

  &__title {
    color: $color-primary-light;
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    color: $color-primary-light;
    font-size: 14px;
    font-weight: 300;
  }

  &__text p {
    margin-bottom: 0;
  }
}
