$color-primary-dark: #31261a;
$color-primary-light: #faf4ea;
$color-secondary-dark: #a28268;
$color-brand-dark: #465929;
$color-brand: #819b57;
$color-brand-light: #cfcfbc;
$color-white: #ffffff;
$font-primary: 'Poppins', sans-serif;
